<style>
    h1 {
        font-family: Arial, sans-serif;
    }
    h2 {
        font-family: Arial, sans-serif;
    }
    h3 {
        font-family: Arial, sans-serif;
    }
    p {
        font-family: Arial, sans-serif;
        font-size: 100%
    }
    ul {
        font-family: Arial, sans-serif;
        font-size: 100%
    }
    .CodeMirror{
        font-family: consolas, monospace;
        font-size: 100%
    }
</style>


