
data/contact_video.mp4
data/binzel_welding.mp4
data/calibration.mp4
data/laser_tracker.mp4
data/smart_assembly.mp4
data/smart_welding.mp4
data/surface_scan.mp4
data/toyo_demo.mp4
data/toyo_demo_short.mp4
data/lara_cl_tool.png
data/location_map.png
data/mav_maira.mov
data/quaternion_exp_log.png
data/quaternion_sphere.png
data/smart_weld_compressed.mp4
data/timeline_2.png
