
data/contact_video.mp4
data/binzel_welding.mp4
data/calibration.mp4
data/laser_tracker.mp4
data/smart_assembly.mp4
data/smart_welding.mp4
data/surface_scan.mp4
data/toyo_demo.mp4
data/toyo_demo_short.mp4
